@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  height: 100vh;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon {
  width: 125px;
  height: 125px;
  margin: 10px;
  position: relative;
}
.icon span {
  position: absolute;
  background-color: #000;
  color: white;
  width: 300px;
  top: -80px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  /* pointer-events: none; */
}
.icon span:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
  bottom: -5px;
  left: 50%;
}
.icon:hover span {
  opacity: 1;
  visibility: visible;
}
