@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  height: 100vh;
  color: #222;
}
a {
  text-decoration: none;
  color: #222; /* a 태그는 body 태그의 스타일을 따르지 않는다 */
}

.dropdown {
  display: inline-block;
}
.dropdown:hover .dropdown-submenu {
  display: block;
}
.dropdown-btn {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  background-color: yellowgreen;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.dropdown-submenu {
  display: none;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}
.dropdown-submenu a {
  display: block;
  padding: 7px;
  text-align: center;
}
.dropdown-submenu a:hover {
  background-color: #eee;
}
